<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='about_us/style.css') }}">
    <title></title>
    <title>About Us</title>
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                OUT US
CarRent is a digital platform invented and implemented by six students of Politecnico of Turin:
this idea represents the new frontier of car sharing, differing from any others already existed.
How many times were you unable to move on holidays or during business trips because you
had not your own car and the public transport was inefficient?
Thanks to CarRent you will be able to rent unused cars of locals just connecting with them
simply via e-mail or telephone!
You would contribute to the health of our planet choosing sustainable cars offered by users,
or just giving a new life to cars abandoned in garages!
Change your way of traveling.
For more information please contact us.

Steer your life, stay CarRent!

            </p>
            <div class="skills">
                <a>info@carrent.it</a>
                <a>+39 328335633</a>
                <a>Via garibaldi 23</a>
            </div>
        </div>
    </div>

</body>
